<footer class=" text-white bg-base-300  ">
    <div class=" w-full  sm:max-w-11/12 mx-auto px-0 sm:px-4 lg:px-4">
        <div class="container mx-auto px-4 py-6">

            <!-- Main Footer Content -->
            <div class="flex flex-col md:flex-row justify-around  items-center gap-6">

                <!-- Logo and Brand -->
                <div class="flex flex-col items-center md:items-start">
                    <a href="/" class="flex items-center hover:opacity-80 transition-opacity group">
                        <div class="shrink-0 w-10  h-10 sm:w-14 sm:h-14">
                            <img src="/assets/logo.png" alt="Surakshya Cloud Logo"
                                class="w-full h-full object-cover rounded-lg  p-1">

                        </div>
                        <span
                            class=" text-xl sm:text-2xl uppercase font-bold bg-linear-to-r from-red-500 via-rose-500 to-pink-500 text-transparent bg-clip-text">
                            Surakshya Cloud
                        </span>
                    </a>

                </div>

                <!-- Copyright -->
                <div class="text-center text- md:text-right">
                    <p class="text-gray-800 text-base sm:text-xl">
                        © <%= new Date().getFullYear() %> SurakshyaCloud. All rights reserved.
                    </p>
                </div>
            </div>


        </div>

    </div>
</footer>